body{
	font-family: 'Roboto', sans-serif;
}

.aside > img{
	background-image: url("../img/Rectangle 160.svg");
	background-repeat: no-repeat;
	background-size: 500px;
	background-position: 0 100px;
	border-bottom-left-radius: 10px;
	width: 100% !important;
	margin: 0 auto;
}

.aside{
	width: 100%;
}

.main{
	height: 90vh;
}

.next-card{
	filter: drop-shadow(0 0 17.5px rgba(172,172,172,0.16));
	background: #fff;
	margin: 15px;
	border: none;
}

.album > .container > img{
	width: 40%;
	background-image: url("../img/Rectangle 160.svg");
	background-repeat: no-repeat;
	background-position: 200px 50px;
	background-size: 250px;
	border-bottom-left-radius: 10px;
}

.border{
	border: 10px solid #f5317f !important;
	border-right-color: transparent !important;
	filter: drop-shadow(0 0 11.5px rgba(170,170,170,0.26));
}

.border-1{
	border: 10px solid #b122e5 !important;
	border-right-color: transparent !important;
	filter: drop-shadow(0 0 11.5px rgba(170,170,170,0.26));
}

.border-2{
	border: 10px solid blue !important;
	border-right-color: transparent !important;
	filter: drop-shadow(0 0 11.5px rgba(170,170,170,0.26));
}

.border-3{
	border: 10px solid #2cbfc7 !important;
	border-right-color: transparent !important;
	filter: drop-shadow(0 0 11.5px rgba(170,170,170,0.26));
}

.border-4{
	border: 10px solid gold !important;
	border-right-color: transparent !important;
	filter: drop-shadow(0 0 11.5px rgba(170,170,170,0.26));
}

.photoshops{
	transform: translateX(20px);
}

.wrapper > p{
	padding-top: 15px;
}

.album > .wrapper{
	justify-content: space-around !important;
}

.photos > img{
	margin: 10px;
}

.photos > img:nth-child(5){
	margin-top: -140px;
}

.nav-tabs{
	width: 58%;
}

.footer{
	height: 550px;
	padding-top: 100px;
}

.footer > .container > .wrapper {
	height: 350px;
	border-bottom: 1px solid #fff;
}

.wrapper > form{
	padding-bottom: 180px;
}

@media(max-width: 409px){
	.nav-tabs{
		flex-direction: column;
		align-items: center;
		margin: 0 auto;
	}

	.footer > .container > .wrapper {
		height: 850px !important;
		align-items: center;
	}

	.footer{
		height: 1000px !important;
	}

	.wrapper > form{
		justify-content: center;
	}
}

@media(max-width: 987px){
	.nav-tabs{
		width: 100% !important;
	}
}

@media(max-width: 767px){
	.nav-tabs {
		flex-wrap: wrap;
		justify-content: center;
	}
}

@media(max-width: 1199px){
	.nav-tabs{
		display: flex;
		width: 75%;
	}
}

@media(max-width: 765px){
	.footer > .container > .wrapper {
		height: 500px;
	}

	.footer{
		height: 700px;
	}

	.wrapper > form{
		padding-bottom: 0;
	}
}

@media(max-width: 574px){
	.aside > img{
		background-position: 0 0;
		background-size: cover;
	}
}

@media(max-width: 368px){
	.aside > img{
		background-size: cover;
	}
}

@media(max-width: 990px){
	.service{
		padding-top: 300px !important;
	}
}

@media(max-width: 766px){
	.service{
		padding-top: 150px !important;
	}
}

@media(max-width: 532px){
	.service{
		padding-top: 50px !important;
	}
}